h1{
    text-align: center;
}
mark {
    background-color: rgb(0, 255, 0);
}
footer{
    background-color:rgba(255, 0, 0, 0.719);
}
#cuerpo{
    margin-top: 8%;
    margin-bottom: 8%;
}
a{
    color: black;
}